body{
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}

#logo{
    position: fixed;
    bottom: 10px;
    left: 0px;
}

#logo img{
    width: 10vw;
    height: auto;
}

#title{
    color: rgb(164, 2, 2);
    margin: 0 auto;
    font-size: 8vw;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 60px; 
}

#bar{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgb(164, 2, 2) ;
    color:rgb(0, 0, 0);
    font-weight: 500;
    text-align: left;
    padding: 6px;
}

.box {
    width: 80%;
    height: 10vh;
    margin: 1.5% auto;
    color: rgb(164, 2, 2);
    font-size: 3vw;
    font-family: "Jersey 25", sans-serif;
}

#backButton {
    position: fixed;
    top: 50px;
    right: 20px;
    padding: 10px 20px;
    background-color: rgb(164, 2, 2);
    color: rgb(0, 0, 0);
    border: none;
    font-family: "Jersey 25", sans-serif;
    font-size: 2vw;
}


@media screen and (min-width: 950px) {
    .box {
        font-size: 40px;
    }

    #title{
        font-size: 80px;
    }
}