body{
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    transition: background-color 0.05s;
}

.red{
    background-color: rgb(97, 7, 7);
    color: aliceblue;
    padding: 10px;
    
}
.green{
    background-color: chartreuse;
     
}

.box {
    text-align: left;
    padding: 10px 10px;
    margin: 3px;
    margin-left: 10%;
}

.flex-container{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 10%;
}


#logo{
    position: fixed;
    bottom: 10px;
    left: 0px;
}

#logo img{
    width: 10vw;
}

#title{
    color: rgb(164, 2, 2);
    margin: 0 auto;
    font-size: 8vw;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 60px; 
}

#bar{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgb(164, 2, 2) ;
    color:rgb(0, 0, 0);
    font-weight: 500;
    text-align: left;
    padding: 6px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.casebox{
    width: 60%;
    height: 10vh;
    margin: 1.5% auto;
    color: rgb(164, 2, 2);
    background-color: rgb(30, 30, 30);
    font-size: 4vw;
    font-family: "Jersey 25", sans-serif;
    cursor: pointer; 
}

.casebox:hover{
    background-color: rgb(77, 12, 12);
}

.casebox1{
    width: 60%;
    height: 10vh;
    margin: 1.5% auto;
    color: rgb(255, 255, 255);
    background-color: rgb(77, 12, 12);
    font-size: 4vw;
    font-family: "Jersey 25", sans-serif;
    cursor: pointer; 
}

.casebox1:hover{
    background-color: rgb(164, 2, 2);
}
 
canvas {
    display: block;
}


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60%;
    height: auto;
    justify-content: center;
    text-align: center;
    font-size: 2vw;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    color: rgb(164, 2, 2);
    padding: 20px;
    border: 1px solid rgb(164, 2, 2);
    box-shadow: 0 0 10px rgba(164, 2, 2);
    z-index: 1000;
    font-family: "Jersey 25", sans-serif;
}

#popup-content{
    width: 100%;
    height: auto;
}

.popup.active {
    display: block;
}


@media screen and (min-width: 950px) {
    .casebox {
        font-size: 50px;
    }
    .casebox1 {
        font-size: 50px;
    }
    #title{
        font-size: 100px;
    }
}
